[submodule "Week_3/Assessment"]
	path = Week_3/Assessment
	url = https://github.com/eliotmjohnson/assessmentThree.git
[submodule "Week_1/Assessment"]
	path = Week_1/Assessment
	url = https://github.com/eliotmjohnson/assessmentOne.git
[submodule "Week_2/Assessment"]
	path = Week_2/Assessment
	url = https://github.com/eliotmjohnson/assessmentTwo.git
[submodule "Week_3/Day_1/firstWebsite"]
	path = Week_3/Day_1/firstWebsite
	url = https://github.com/eliotmjohnson/myFirstWebsite.git
[submodule "Week_4/Assessment"]
	path = Week_4/Assessment
	url = https://github.com/eliotmjohnson/assessmentFour
[submodule "Week_5/Assessment"]
	path = Week_5/Assessment
	url = https://github.com/eliotmjohnson/assessmentFive
